<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mateev.fishon">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application

        android:name=".FishOnApp"

        android:allowBackup="true"
        android:icon="@mipmap/fishonicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/fishonicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.AppLaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.home.HomeActivity" />
        <activity android:name=".views.history.HistoryActivity" />
        <activity android:name=".views.about.AboutActivity" />
        <activity android:name=".views.fishingtypes.FishingTypesActivity" />
        <activity android:name=".views.fishingtypes.FishingTypeInformationActivity" />
        <activity android:name=".views.personalrecords.PersonalRecordsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".views.personalrecords.DetailedFishRecordActivity" />
        <activity android:name=".views.personalrecords.AddNewFishRecordActivity" />
        <activity android:name=".views.locatons.visitedplaces.VisitedPlacesActivity" android:screenOrientation="portrait" />
        <activity android:name=".views.locatons.wishlist.WishListActivity" android:screenOrientation="portrait" />
        <activity android:name=".views.locatons.AddNewLocationActivity" />
    </application>

</manifest>